:root {
  --font-family: "Roboto", sans-serif;
  --sub-font-family: "TTFirsNeue";
  --content-width: 1290px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --grid-gap: 30px;
  --desktop-template-column: repeat(12, 1fr);
  --laptop-template-column: repeat(8, 1fr);
  --tablet-template-column: repeat(6, 1fr);
  --mobile-template-column: repeat(2, 1fr);
  --light-color: #fff;
  --dark-color: #202020;
  --accent-color: #ff6e30;
  --tascany-color: #bc572b;
  --grenadier-color: #ce4307;
  --burnt-sienna-color: #f06666;
  --romantic-color: #ffd4c1;
  --red-orange-color: #ff3030;
  --mercury-color: #e9e9e9;
  --silver-color: #cacaca;
  --dusty-grey-color: #999999;
  --tundora-color: #4a4a4a;
  --light-dark-color: rgba(32, 32, 32, 0.85);
  --transition-time-function: 0.3s ease-in-out;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TTFirsNeue";
  src: url("../fonts/../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (max-width: 1050px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 780px) {
  .container {
    padding: 0 27px;
  }
}
@media (max-width: 620px) {
  .container {
    padding: 0 21px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: var(--grid-gap);
}

.section {
  padding-top: 68px;
}

.section-title {
  margin: 0;
  font-family: var(--sub-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.fill-btn {
  position: relative;
  display: inline-block;
  padding: 15px 22px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-color);
  z-index: 10;
  -webkit-transition: background-color var(--transition-time-function);
  -o-transition: background-color var(--transition-time-function);
  transition: background-color var(--transition-time-function);
}
.fill-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 3px solid var(--grenadier-color);
  opacity: 0;
  -webkit-transition: opacity var(--transition-time-function);
  -o-transition: opacity var(--transition-time-function);
  transition: opacity var(--transition-time-function);
}
.fill-btn:focus-visible:not(:hover):not(:active) {
  outline: none;
}
.fill-btn:focus-visible:not(:hover):not(:active)::before {
  opacity: 1;
}
.fill-btn:hover {
  outline: none;
  background-color: var(--tascany-color);
}
.fill-btn:active {
  outline: none;
  background-color: var(--grenadier-color);
}

.stroke-btn {
  display: inline-block;
  padding: 13px 20px;
  border: 3px solid var(--accent-color);
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-color);
  -webkit-transition: border-color var(--transition-time-function), background-color var(--transition-time-function);
  -o-transition: border-color var(--transition-time-function), background-color var(--transition-time-function);
  transition: border-color var(--transition-time-function), background-color var(--transition-time-function);
}
.stroke-btn:focus-visible {
  outline: none;
  background-color: var(--tascany-color);
}
.stroke-btn:hover {
  background-color: var(--accent-color);
}
.stroke-btn:active {
  border-color: var(--grenadier-color);
  background-color: var(--grenadier-color);
}

.mark-badge {
  position: absolute;
  padding: 7px 15px;
  background-color: var(--dark-color);
  font-size: 14px;
  line-height: 16px;
  color: var(--light-color);
}

.phone-link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: var(--sub-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--accent-color);
  -webkit-transition: color var(--transition-time-function);
  -o-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.phone-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--tascany-color);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  opacity: 0;
  -webkit-transition: opacity var(--transition-time-function), -webkit-transform var(--transition-time-function);
  transition: opacity var(--transition-time-function), -webkit-transform var(--transition-time-function);
  -o-transition: opacity var(--transition-time-function), transform var(--transition-time-function);
  transition: opacity var(--transition-time-function), transform var(--transition-time-function);
  transition: opacity var(--transition-time-function), transform var(--transition-time-function), -webkit-transform var(--transition-time-function);
}
.phone-link:focus-visible {
  outline: none;
  color: var(--light-color);
}
.phone-link:focus-visible::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
  z-index: -1;
}
.phone-link:hover {
  color: var(--tascany-color);
}
.phone-link:active {
  color: var(--grenadier-color);
}
.phone-link__text {
  position: relative;
  z-index: 10;
}
.phone-link__icon {
  margin-right: 4px;
}
.phone-link__icon-svg path {
  fill: currentColor;
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--dusty-grey-color);
  color: var(--light-color);
  -webkit-transition: color var(--transition-time-function);
  -o-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.close-btn:focus-visible {
  outline: none;
  color: var(--accent-color);
}
.close-btn:hover {
  color: var(--accent-color);
}
.close-btn:active {
  color: var(--grenadier-color);
}
.close-btn__icon {
  fill: currentColor;
}

.header {
  padding: 23px 0;
  padding-bottom: 22px;
  background-color: var(--dark-color);
  color: var(--light-color);
}
@media (max-width: 1050px) {
  .header {
    padding-top: 26px;
    padding-bottom: 23px;
  }
}
@media (max-width: 850px) {
  .header {
    padding-bottom: 0;
  }
}
.header__container {
  -ms-grid-columns: var(--desktop-template-column);
  grid-template-columns: var(--desktop-template-column);
}
@media (max-width: 1050px) {
  .header__container {
    -ms-grid-columns: var(--laptop-template-column);
    grid-template-columns: var(--laptop-template-column);
    gap: 0;
  }
}
@media (max-width: 850px) {
  .header__container {
    -ms-grid-columns: var(--tablet-template-column);
    grid-template-columns: var(--tablet-template-column);
    padding-bottom: 23px;
  }
}
@media (max-width: 620px) {
  .header__container {
    -ms-grid-columns: var(--mobile-template-column);
    grid-template-columns: var(--mobile-template-column);
  }
}
.header__logo {
  -ms-grid-row-align: center;
  align-self: center;
  grid-column: 1/2 span;
  display: inline-block;
}
@media (max-width: 620px) {
  .header__logo {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}
.header__nav-wrapper {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4/11;
}
@media (max-width: 1050px) {
  .header__nav-wrapper {
    grid-column: 3/5 span;
    padding-left: 8px;
    margin-top: -3px;
    max-width: 94%;
  }
}
@media (max-width: 850px) {
  .header__nav-wrapper {
    -ms-grid-column-span: 12;
    grid-column: 12 span;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
.header__search-form {
  -ms-grid-row-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-grid-column: 12;
  grid-column: 12;
}
@media (max-width: 1050px) {
  .header__search-form {
    -ms-grid-column: 8;
    grid-column: 8;
  }
}
@media (max-width: 850px) {
  .header__search-form {
    -ms-grid-column: 6;
    grid-column: 6;
    margin-top: -5px;
  }
}
@media (max-width: 620px) {
  .header__search-form {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.burger {
  position: relative;
  display: none;
  width: 20px;
  height: 18px;
}
.burger__line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--light-color);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.burger__line:nth-child(1) {
  top: 0;
}
@media (max-width: 620px) {
  .burger {
    display: block;
  }
}

.nav__close-btn {
  display: none;
}
@media (max-width: 620px) {
  .nav__close-btn {
    display: block;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1050px) {
  .nav__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.nav__item:not(:last-child) {
  margin-right: 78px;
}
@media (max-width: 1440px) {
  .nav__item:not(:last-child) {
    margin-right: 33px;
  }
}
@media (max-width: 1050px) {
  .nav__item:not(:last-child) {
    margin: 0;
  }
}
.nav__link {
  position: relative;
  display: block;
  font-family: var(--sub-font-family);
  font-size: 16px;
  line-height: 21px;
  color: currentColor;
  -webkit-transition: color var(--transition-time-function);
  -o-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.nav__link::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--tascany-color);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  opacity: 0;
  -webkit-transition: opacity var(--transition-time-function), -webkit-transform var(--transition-time-function);
  transition: opacity var(--transition-time-function), -webkit-transform var(--transition-time-function);
  -o-transition: opacity var(--transition-time-function), transform var(--transition-time-function);
  transition: opacity var(--transition-time-function), transform var(--transition-time-function);
  transition: opacity var(--transition-time-function), transform var(--transition-time-function), -webkit-transform var(--transition-time-function);
}
.nav__link:focus-visible {
  outline: none;
}
.nav__link:focus-visible:not(:hover)::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}
.nav__link:hover {
  color: var(--accent-color);
}
.nav__link:active {
  color: var(--grenadier-color);
}
.nav__text {
  position: relative;
  z-index: 10;
}
.nav__phone-link {
  display: none;
}
@media (max-width: 620px) {
  .nav__phone-link {
    display: block;
  }
}

.search {
  position: relative;
}
.search.active .search-icon {
  opacity: 0;
}
.search.active .close-icon {
  opacity: 1;
}
.search.active .search__input {
  -webkit-transform: translateX(-30px) scaleX(1);
  -ms-transform: translateX(-30px) scaleX(1);
  transform: translateX(-30px) scaleX(1);
}
.search__input {
  position: absolute;
  right: 0;
  width: 170px;
  padding: 2px 5px;
  border: none;
  border-bottom: 1px solid currentColor;
  background-color: var(--dark-color);
  font-family: var(--sub-font-family);
  font-size: 14px;
  line-height: 18px;
  color: var(--mercury-color);
  z-index: 10;
  -webkit-transform: translateX(-30px) scaleX(0);
  -ms-transform: translateX(-30px) scaleX(0);
  transform: translateX(-30px) scaleX(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: border-color var(--transition-time-function), -webkit-transform var(--transition-time-function);
  transition: border-color var(--transition-time-function), -webkit-transform var(--transition-time-function);
  -o-transition: transform var(--transition-time-function), border-color var(--transition-time-function);
  transition: transform var(--transition-time-function), border-color var(--transition-time-function);
  transition: transform var(--transition-time-function), border-color var(--transition-time-function), -webkit-transform var(--transition-time-function);
}
.search__input:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}
.search__input:hover {
  border-color: var(--accent-color);
}
.search__input:active {
  border-color: var(--grenadier-color);
}
@media (max-width: 1050px) {
  .search__input {
    width: 210px;
  }
}
@media (max-width: 620px) {
  .search__input {
    width: calc(200% - 20px);
  }
}
.search__btn {
  position: relative;
  width: 25px;
  height: 25px;
  color: var(--light-color);
  -webkit-transition: color var(--transition-time-function);
  -o-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.search__btn:focus-visible {
  outline: none;
  color: var(--accent-color);
}
.search__btn:hover {
  color: var(--accent-color);
}
.search__btn:active {
  color: var(--grenadier-color);
}
@media (max-width: 620px) {
  .search__btn {
    width: 20px;
    height: 20px;
  }
}
.search__icon {
  position: absolute;
  inset: 0;
  -webkit-transition: opacity var(--transition-time-function);
  -o-transition: opacity var(--transition-time-function);
  transition: opacity var(--transition-time-function);
}
.search__icon svg {
  fill: currentColor;
}

.search-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--dusty-grey-color);
  opacity: 0;
}

.hero {
  padding-top: 41px;
  padding-bottom: 68px;
  background-color: var(--light-color);
}
.hero__container {
  -ms-grid-columns: var(--desktop-template-column);
  grid-template-columns: var(--desktop-template-column);
}
@media (max-width: 1050px) {
  .hero__container {
    -ms-grid-columns: var(--laptop-template-column);
    grid-template-columns: var(--laptop-template-column);
  }
}
@media (max-width: 780px) {
  .hero__container {
    -ms-grid-columns: var(--tablet-template-column);
    grid-template-columns: var(--tablet-template-column);
  }
}
.hero__content-highlight {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 1050px) {
  .hero__content-highlight {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
@media (max-width: 780px) {
  .hero__content-highlight {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
.hero__content-grid {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
.hero__content-grid__title {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  margin: 0;
  margin-bottom: 19px;
  font-family: var(--sub-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  color: #202020;
}
@media (max-width: 1050px) {
  .hero__content-grid__title {
    margin-bottom: 25px;
  }
}
@media (max-width: 780px) {
  .hero__content-grid__title {
    margin-bottom: 18px;
    font-size: 22px;
  }
}
@media (max-width: 1050px) {
  .hero__content-grid {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
@media (max-width: 780px) {
  .hero__content-grid {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
@media (max-width: 1050px) {
  .hero {
    padding-top: 34px;
    padding-bottom: 67px;
  }
}

.highlight {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 60px;
  padding-right: 0;
  background-image: url(../img/hero-Main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.highlight__title {
  max-width: 450px;
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--sub-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: var(--light-color);
}
.highlight__title--descr {
  display: block;
  margin-bottom: 2px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
@media (max-width: 1050px) {
  .highlight__title--descr {
    margin-bottom: 8px;
  }
}
@media (max-width: 780px) {
  .highlight__title--descr {
    margin-bottom: 14px;
  }
}
@media (max-width: 1050px) {
  .highlight__title {
    margin-bottom: 24px;
    font-size: 34px;
    line-height: 100%;
  }
}
@media (max-width: 780px) {
  .highlight__title {
    line-height: 90%;
  }
}
.highlight__mark {
  top: 15px;
  right: 15px;
}
@media (max-width: 1050px) {
  .highlight {
    padding: 30px;
    background-image: url(../img/hero-Main1024.jpg);
  }
}
@media (max-width: 780px) {
  .highlight {
    background-image: url(../img/hero-Main-768.jpg);
  }
}

.hero-works {
  -ms-grid-columns: var(--mobile-template-column);
  grid-template-columns: var(--mobile-template-column);
}
.hero-works__card {
  font-size: 0;
}
.hero-works__major {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}
.hero-works__minor {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
}

.about {
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: var(--dark-color);
  color: var(--light-color);
}
.about__wrapper {
  -ms-grid-columns: var(--desktop-template-column);
  grid-template-columns: var(--desktop-template-column);
}
@media (max-width: 1050px) {
  .about__wrapper {
    -ms-grid-columns: var(--laptop-template-column);
    grid-template-columns: var(--laptop-template-column);
  }
}
.about__content {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  padding-bottom: 2px;
}
@media (max-width: 1050px) {
  .about__content {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
.about__title {
  -ms-grid-column-span: 12;
  grid-column: 12 span;
  margin-bottom: 3px;
}
@media (max-width: 1050px) {
  .about__title {
    margin-bottom: 2px;
  }
}
.about__descr {
  max-width: 625px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--silver-color);
}
@media (max-width: 1050px) {
  .about__descr {
    max-width: 465px;
    padding-top: 3px;
    padding-bottom: 5px;
  }
}
.about__subscribe {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
}
@media (max-width: 1050px) {
  .about__subscribe {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}
@media (max-width: 1050px) {
  .about {
    padding-bottom: 81px;
  }
}
@media (max-width: 780px) {
  .about {
    padding-bottom: 56px;
  }
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: auto;
  background-image: url(../img/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.subscribe__title {
  margin: 0;
  margin-bottom: 18px;
  font-family: var(--sub-font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
}
.subscribe__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 1050px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.subscribe__input {
  width: 100%;
  margin-right: 30px;
  padding: 14px 23px;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-color);
  background-color: var(--tundora-color);
  -webkit-transition: border-color var(--transition-time-function);
  -o-transition: border-color var(--transition-time-function);
  transition: border-color var(--transition-time-function);
}
.subscribe__input:focus-visible {
  outline: none;
  border-color: var(--accent-color);
}
.subscribe__input:hover::-webkit-input-placeholder {
  color: var(--accent-color);
}
.subscribe__input:hover::-moz-placeholder {
  color: var(--accent-color);
}
.subscribe__input:hover:-ms-input-placeholder {
  color: var(--accent-color);
}
.subscribe__input:hover::-ms-input-placeholder {
  color: var(--accent-color);
}
.subscribe__input:hover::placeholder {
  color: var(--accent-color);
}
.subscribe__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--silver-color);
  -webkit-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.subscribe__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--silver-color);
  -moz-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--silver-color);
  -ms-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.subscribe__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--silver-color);
  -ms-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--silver-color);
  -webkit-transition: color var(--transition-time-function);
  -o-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.subscribe__input.just-validate-error-field {
  border-color: var(--burnt-sienna-color);
}
@media (max-width: 1050px) {
  .subscribe__input {
    width: 342px;
    margin-right: 0;
    margin-bottom: 21px;
  }
}
@media (max-width: 1050px) {
  .subscribe {
    background-image: url(../img/about-bg-1024.jpg);
  }
}
@media (max-width: 850px) {
  .subscribe {
    padding-bottom: 14px;
    background-image: url(../img/about-bg-768.jpg);
    background-size: 100% 70%;
  }
}
@media (max-width: 780px) {
  .subscribe {
    background-size: contain;
  }
}

.projects__title {
  margin-bottom: 12px;
}
.projects__list {
  -ms-grid-columns: var(--desktop-template-column);
  grid-template-columns: var(--desktop-template-column);
}
@media (max-width: 1050px) {
  .projects__list {
    -ms-grid-columns: var(--laptop-template-column);
    grid-template-columns: var(--laptop-template-column);
    row-gap: 24px;
  }
}
@media (max-width: 780px) {
  .projects__list {
    -ms-grid-columns: var(--tablet-template-column);
    grid-template-columns: var(--tablet-template-column);
    row-gap: 0;
  }
}

.project {
  position: relative;
  -ms-grid-column-span: 2;
  grid-column: 2 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: top center;
}
.project__descr {
  display: -webkit-box;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-color);
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (max-width: 1050px) {
  .project__descr {
    margin-bottom: 17px;
    -webkit-line-clamp: 2;
  }
}
@media (max-width: 780px) {
  .project__descr {
    margin-bottom: 10px;
    -webkit-line-clamp: 3;
  }
}
.project__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: var(--dusty-grey-color);
}
.project__date-icon {
  margin-right: 5px;
}
.project__date-icon path {
  fill: currentColor;
}
.project__mark {
  top: 6px;
  right: 7px;
}
.project1 {
  background-image: url(../img/projects-small1.jpg);
}
@media (max-width: 1050px) {
  .project1 {
    background-image: url(../img/projects-small1-1024.jpg);
  }
}
.project2 {
  background-image: url(../img/projects-small2.jpg);
}
@media (max-width: 1050px) {
  .project2 {
    background-image: url(../img/projects-small2-1024.jpg);
  }
}
.project3 {
  background-image: url(../img/projects-small3.jpg);
}
@media (max-width: 1050px) {
  .project3 {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
    background-image: url(../img/projects-small3-1024.jpg);
  }
}
@media (max-width: 780px) {
  .project3 {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
    background-image: url(../img/projects-small3-768.jpg);
  }
  .project3 .project__descr {
    margin-bottom: 32px;
    -webkit-line-clamp: 2;
  }
}
.project4 {
  background-image: url(../img/projects-big1.jpg);
}
@media (max-width: 1050px) {
  .project4 {
    background-image: url(../img/projects-big1-1024.jpg);
  }
}
@media (max-width: 780px) {
  .project4 {
    background-image: url(../img/projects-big1-768.jpg);
  }
}
@media (max-width: 780px) {
  .project4 {
    margin-bottom: 26px;
  }
}
.project5 {
  background-image: url(../img/projects-big2.jpg);
}
@media (max-width: 1050px) {
  .project5 {
    background-image: url(../img/projects-big2-1024.jpg);
  }
}
@media (max-width: 850px) {
  .project5 {
    background-image: url(../img/projects-big2-768.jpg);
  }
}
.project6 {
  background-image: url(../img/projects-middle1.jpg);
}
@media (max-width: 1050px) {
  .project6 {
    background-image: url(../img/projects-middle1-1024.jpg);
  }
}
.project7 {
  background-image: url(../img/projects-middle2.jpg);
}
@media (max-width: 1050px) {
  .project7 {
    background-image: url(../img/projects-middle2-1024.jpg);
  }
}
@media (max-width: 1050px) {
  .project {
    min-height: 285px;
  }
  .project:nth-child(4) {
    padding-bottom: 37px;
  }
  .project:nth-child(5) {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
}
@media (max-width: 780px) {
  .project {
    min-height: 300px;
  }
  .project:nth-child(4) {
    padding-top: 34px;
    padding-bottom: 32px;
  }
  .project:nth-child(5) {
    padding-top: 34px;
    padding-bottom: 32px;
  }
}

.big-project {
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  padding: 30px;
  padding-top: 21px;
  background-position: center;
  background-size: cover;
}
.big-project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 293px;
  height: 100%;
}
.big-project__date {
  margin-bottom: 2px;
  color: var(--light-color);
}
@media (max-width: 1050px) {
  .big-project__date {
    margin-bottom: 2px;
  }
}
.big-project__title {
  margin: 0;
  margin-bottom: 6px;
  font-family: var(--sub-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--light-color);
}
@media (max-width: 1050px) {
  .big-project__title {
    margin-bottom: 6px;
  }
}
.big-project__descr {
  color: var(--light-color);
}
.big-project__btn {
  margin-top: auto;
}
@media (max-width: 1050px) {
  .big-project {
    -ms-grid-column-span: 5;
    grid-column: 5 span;
    min-height: 307px;
    padding-top: 30px;
  }
  .big-project .project__descr {
    -webkit-line-clamp: 3;
  }
}
@media (max-width: 780px) {
  .big-project {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
    margin-top: 21px;
    background-size: contain;
  }
  .big-project .project__mark {
    top: 10px;
  }
}

.middle-project {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}
@media (max-width: 1050px) {
  .middle-project {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
    min-height: 307px;
  }
  .middle-project .project__descr {
    -webkit-line-clamp: 3;
  }
}
@media (max-width: 780px) {
  .middle-project .project__descr {
    margin-bottom: 15px;
  }
}

.contacts {
  padding-bottom: 68px;
}
.contacts__title {
  margin-bottom: 18px;
}
.contacts__content {
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
}
@media (max-width: 1050px) {
  .contacts__content {
    -ms-grid-columns: var(--laptop-template-column);
    grid-template-columns: var(--laptop-template-column);
  }
}
@media (max-width: 850px) {
  .contacts__content {
    -ms-grid-columns: var(--tablet-template-column);
    grid-template-columns: var(--tablet-template-column);
    row-gap: 28px;
  }
}
.contacts__map {
  position: relative;
  -ms-grid-column-span: 8;
  grid-column: 8 span;
  padding-top: 4px;
  overflow: hidden;
}
@media (max-width: 1050px) {
  .contacts__map {
    -ms-grid-column-span: 5;
    grid-column: 5 span;
  }
}
@media (max-width: 850px) {
  .contacts__map {
    -ms-grid-column-span: 6;
    grid-column: 6 span;
  }
}
.contacts__info {
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 100;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: opacity var(--transition-time-function), -webkit-transform var(--transition-time-function);
  transition: opacity var(--transition-time-function), -webkit-transform var(--transition-time-function);
  -o-transition: transform var(--transition-time-function), opacity var(--transition-time-function);
  transition: transform var(--transition-time-function), opacity var(--transition-time-function);
  transition: transform var(--transition-time-function), opacity var(--transition-time-function), -webkit-transform var(--transition-time-function);
}
.contacts__info.hide {
  opacity: 0;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}
@media (max-width: 1050px) {
  .contacts__info {
    top: initial;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 850px) {
  .contacts {
    padding-top: 65px;
    padding-bottom: 68px;
  }
}

.address-info {
  padding-top: 175px;
  padding-left: 60px;
  width: 410px;
  height: 100%;
  background-color: var(--light-dark-color);
}
.address-info__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: var(--sub-font-family);
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 22px;
  color: var(--light-color);
}
.address-info__location {
  position: relative;
  margin-bottom: 2px;
  max-width: 275px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--silver-color);
}
@media (max-width: 850px) {
  .address-info__location {
    max-width: 440px;
  }
}
.address-info__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 1050px) {
  .address-info {
    width: 100%;
    height: auto;
    padding: 25px 30px;
    padding-bottom: 20px;
  }
}
@media (max-width: 850px) {
  .address-info {
    padding: 24px 30px;
  }
}

.laptop-link {
  position: absolute;
  bottom: 0;
  right: -15%;
  display: none;
}
@media (max-width: 1050px) {
  .laptop-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 850px) {
  .laptop-link {
    display: none;
  }
}

@media (max-width: 1050px) {
  .desktop-link {
    display: none;
  }
}
@media (max-width: 850px) {
  .desktop-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.map__wrapper {
  width: 100%;
  height: 460px;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

[class*=copyrights-pane] {
  display: none;
}

.contacts__feedback {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
@media (max-width: 1050px) {
  .contacts__feedback {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
@media (max-width: 850px) {
  .contacts__feedback {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
  }
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.feedback__title {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 4px;
  font-family: var(--sub-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: var(--dark-color);
}
@media (max-width: 1050px) {
  .feedback__title {
    margin-top: -4px;
    margin-bottom: 6px;
  }
}
.feedback__descr {
  max-width: 390px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dusty-grey-color);
}
@media (max-width: 850px) {
  .feedback__descr {
    margin-bottom: 12px;
    max-width: none;
  }
}
.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 18px;
  width: 100%;
}
.feedback__label {
  position: relative;
  width: 100%;
}
.feedback__input {
  width: 100%;
  padding: 15px 22px;
  padding-bottom: 16px;
  border: 1px solid transparent;
  background-color: var(--mercury-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-color);
  -webkit-transition: border-color var(--transition-time-function);
  -o-transition: border-color var(--transition-time-function);
  transition: border-color var(--transition-time-function);
}
.feedback__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dusty-grey-color);
  -webkit-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.feedback__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dusty-grey-color);
  -moz-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.feedback__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dusty-grey-color);
  -ms-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.feedback__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dusty-grey-color);
  -ms-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.feedback__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--dusty-grey-color);
  -webkit-transition: color var(--transition-time-function);
  -o-transition: color var(--transition-time-function);
  transition: color var(--transition-time-function);
}
.feedback__input:focus-visible:not(:hover) {
  outline: none;
  border-color: var(--accent-color);
}
.feedback__input:hover {
  outline: none;
}
.feedback__input:hover::-webkit-input-placeholder {
  color: var(--accent-color);
}
.feedback__input:hover::-moz-placeholder {
  color: var(--accent-color);
}
.feedback__input:hover:-ms-input-placeholder {
  color: var(--accent-color);
}
.feedback__input:hover::-ms-input-placeholder {
  color: var(--accent-color);
}
.feedback__input:hover::placeholder {
  color: var(--accent-color);
}
@media (max-width: 1050px) {
  .feedback__input {
    padding-bottom: 15px;
  }
}
.feedback__comment {
  max-height: 150px;
  margin-bottom: 2px;
  resize: none;
}
@media (max-width: 780px) {
  .feedback__btn {
    margin-top: 4px;
  }
}

.footer {
  padding-top: 25px;
  padding-bottom: 14px;
  background-color: var(--dark-color);
}
.footer__container {
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
}
@media (max-width: 1050px) {
  .footer__container {
    gap: 0;
    -ms-grid-columns: var(--laptop-template-column);
    grid-template-columns: var(--laptop-template-column);
  }
}
@media (max-width: 850px) {
  .footer__container {
    -ms-grid-columns: var(--tablet-template-column);
    grid-template-columns: var(--tablet-template-column);
  }
}
.footer__copyright {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer__copyright-descr {
  font-family: var(--sub-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--mercury-color);
}
@media (max-width: 1050px) {
  .footer__copyright {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
    margin-top: 6px;
  }
}
@media (max-width: 850px) {
  .footer__copyright {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
.footer__logo {
  margin-bottom: 2px;
}
.footer__quote {
  grid-column: 5/4 span;
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--silver-color);
}
.footer__quote-text {
  max-width: 360px;
  margin: 0;
}
@media (max-width: 1050px) {
  .footer__quote {
    grid-column: 4/3 span;
    padding-left: 9px;
  }
}
@media (max-width: 850px) {
  .footer__quote {
    display: none;
  }
}
.footer__social {
  grid-column: 11/2 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.footer__social-descr {
  display: inline-block;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--silver-color);
}
@media (max-width: 850px) {
  .footer__social-descr {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
.footer__social-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}
.footer__social-link {
  color: var(--silver-color);
}
.footer__social-link svg path {
  fill: currentColor;
  -webkit-transition: fill var(--transition-time-function);
  -o-transition: fill var(--transition-time-function);
  transition: fill var(--transition-time-function);
}
.footer__social-link:focus-visible {
  outline: none;
  color: var(--tascany-color);
}
.footer__social-link:hover {
  color: var(--accent-color);
}
.footer__social-link:active {
  color: var(--grenadier-color);
}
@media (max-width: 1050px) {
  .footer__social {
    grid-column: 7/2 span;
  }
}
@media (max-width: 850px) {
  .footer__social {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
  }
}
@media (max-width: 1050px) {
  .footer {
    padding-top: 24px;
  }
}

.just-validate-error-label {
  position: absolute;
  top: 4px;
  left: 23px;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: var(--burnt-sienna-color) !important;
}
/*# sourceMappingURL=main.css.map */