<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title">
      Контакты
    </h2>
    <div class="contacts__grid">
      <div class="contacts__map">
        <div class="contacts__info address">
          <button class="address__btn-close" tabindex="-1"></button>
          <address>
            <h3 class="address__title">
              Студия «High pass»
            </h3>
            <p class="address__location">
              107045, Москва, Даев переулок, дом&nbsp;41, бизнес-центр &laquo;Даев Плаза&raquo;, этаж&nbsp;8, офис &#8470;&nbsp;82
              <a class="address__telephone address__telephone_tablet" href="tel:+749542423532">+7 495 424-23-532</a>
            </p>
            <a class="address__telephone" href="tel:+749542423532" tabindex="-1">+7 495 424-23-532</a>
          </address>
        </div>
        <div class="contacts__map-wrapper map-wrapper" id="map"></div>
      </div>
      <div class="contacts__connection connection">
        <legend class="connection__title">
          Оставить заявку
        </legend>
        <p class="connection__descr">
          Оставьте ваши данные, указав в&nbsp;графе &laquo;Комментарий&raquo; желаемые время и&nbsp;дату съёмки или другого мероприятия
        </p>
        <form class="connection__form">
            <label class="connection__label">
              <span class="connection__error">
                Недопустимый формат
              </span>
              <input class="connection__input connection__input-name" type="text" placeholder="Имя">
            </label>
            <label class="connection__label">
              <span class="connection__error">
                Недопустимый формат
              </span>
              <input class="connection__input connection__input-email" type="email" placeholder="Email">
            </label>
            <label class="connection__label">
              <span class="connection__error">
                Недопустимый формат
              </span>
              <textarea class="connection__comment connection__input" placeholder="Комментарий" ></textarea>
            </label>
          <button class="connection__btn" type="submit">
            Отправить
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
