<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>High Pass</title>
  <link rel="preload" href="fonts/MullerRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="fonts/RobotoRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="fonts/RobotoBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="fonts/TtFirsNeueRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="fonts/TtFirsNeueMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="fonts/TtFirsNeueBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=вашAPI-ключ&lang=ru_RU"></script>
  <script defer src="js/main.js"></script>
</head>
