<section class="projects" id="projects">
  <div class="container projects__container">
    <h2 class="projects__title">
      Наши проекты
    </h2>
    <ul class="projects__grid list-reset">
      <li class="projects__item project project-1">
        <p class="project__tag">
          #пейзаж
        </p>
        <p class="project__descr">
          Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени...
        </p>
        <p class="project__descr_tablet">
          Синтетически, смешаны с&nbsp;не&nbsp;уникальными...
        </p>
        <time class="project__date">
          16&nbsp;июня
        </time>
      </li>
      <li class="projects__item project project-2">
        <p class="project__tag">
          #портрет
        </p>
        <p class="project__descr">
          В своём стремлении улучшить опыт <no-typography>мы</no-typography> упускаем, что явные...
        </p>
        <p class="project__descr_tablet">
          В&nbsp;своём стремлении улучшить опыт&nbsp;мы...
        </p>
        <time class="project__date">
          28&nbsp;мая
        </time>
      </li>
      <li class="projects__item project project-3">
        <p class="project__tag">
          #предмет
        </p>
        <p class="project__descr">
          Равным образом, высокое качество позиционных...
        </p>
        <p class="project__descr_tablet">
          Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада
        </p>
        <time class="project__date">
          14&nbsp;мая
        </time>
      </li>
      <li class="projects__item project project-4">
        <p class="project__tag">
          #fuji
        </p>
        <time class="project__date">
          9&nbsp;апреля
        </time>
        <h3 class="project__title">
          Cемантический разбор
        </h3>
        <p class="project__descr show-tablet">
          В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы
        </p>
        <a class="project__link" href="#">
          О проекте
        </a>
      </li>
      <li class="projects__item project project-5">
        <p class="project__tag">
          #проектзабвение
        </p>
        <time class="project__date">
          20&nbsp;марта
        </time>
        <h3 class="project__title">
          Забвение
        </h3>
        <p class="project__descr show-tablet">
          Играет важную роль в&nbsp;формировании глубокомысленных рассуждений
        </p>
        <a class="project__link" href="#">
          О проекте
        </a>
      </li>
      <li class="projects__item project project-6">
        <p class="project__tag">
          #ретушь
        </p>
        <p class="project__descr">
          Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...
        </p>
        <p class="project__descr_tablet">
          Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов...
        </p>
        <time class="project__date">
          9&nbsp;марта
        </time>
      </li>
      <li class="projects__item project project-7">
        <p class="project__tag">
          #портрет
        </p>
        <p class="project__descr">
          С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...
        </p>
        <p class="project__descr_tablet">
          С&nbsp;учётом сложившейся международной обстановки, новая модель организационной...
        </p>
        <time class="project__date">
          1&nbsp;марта
        </time>
      </li>
    </ul>
  </div>
</section>
