<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__grid">
      <div class="hero__grid-item hero__grid-item-1">
        <p class="hero__tag">
          #мастеркласс
        </p>
        <div class="hero__description">
          <p class="hero__artist">
            Мастер-класс от&nbsp;Игоря Робова
          </p>
          <h2 class="hero__attention">
            Неоновый фотосет 2.0 7&nbsp;июля&nbsp;20:00
          </h2>
          <a class="hero__button" href="#">
            Узнать больше
          </a>
        </div>
      </div>
      <div class="hero__grid-item hero__grid-item-2">
        <h3 class="hero__title">
          Работы участников предыдущего мастер-класса
        </h3>
        <picture class="hero__picture">
          <source srcset="../img/hero-2_mobile.jpg" media="(max-width: 576px)" />
          <source srcset="../img/hero-2_small-tablet.jpg" media="(max-width: 768px)" />
          <source srcset="../img/hero-2_tablet.jpg" media="(max-width: 1024px)" />
          <img loading="lazy" src="../img/hero-2_desktop.jpg" alt="Фото 2">
        </picture>
      </div>
      <div class="hero__grid-item hero__grid-item-3">
        <picture class="hero__picture">
          <source srcset="../img/hero-3_mobile.jpg" media="(max-width: 576px)" />
          <source srcset="../img/hero-3_small-tablet.jpg" media="(max-width: 768px)" />
          <source srcset="../img/hero-3_tablet.jpg" media="(max-width: 1024px)" />
          <img loading="lazy" src="../img/hero-3_desktop.jpg" alt="Фото 3">
        </picture>
      </div>
      <div class="hero__grid-item hero__grid-item-4">
        <picture class="hero__picture">
          <source srcset="../img/hero-4_mobile.jpg" media="(max-width: 576px)" />
          <source srcset="../img/hero-4_small-tablet.jpg" media="(max-width: 768px)" />
          <source srcset="../img/hero-4_tablet.jpg" media="(max-width: 1024px)" />
          <img loading="lazy" src="../img/hero-4_desktop.jpg" alt="Фото 4">
        </picture>
      </div>
    </div>
  </div>
</section>
